<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval' 'sha256-{$ importMapHash $}' https://www.googletagmanager.com; style-src 'self'; base-uri 'self'; connect-src 'self' https://*.google-analytics.com">
        <title>Drum Combo Demo</title>
        <link href="css/site/reset.css" type="text/css" rel="stylesheet">
        <link href="css/site/style.css" type="text/css" rel="stylesheet">
        <script type="importmap">{$ importMap $}</script>
        <script src="scripts/site/head.js" type="module"></script>
    </head>
    <body data-auto-scroll-enabled="false" data-metronome-running="false">
        <div class="page-content">
            <header class="u-screen-only">
                <div class="header--inner o-container">
                    <div class="control-panel--wrapper" v-scope="controlPanelInstance"></div>
                    <div class="side-menu--wrapper" v-scope="sideMenuInstance"></div>
                </div>
            </header>
            <main v-scope="renderAreaInstance"></main>
            <footer>
                <div class="footer--inner o-container">
                    <div class="credits">
                        <span class="u-screen-only">By <a href="https://github.com/elevorous">elevorous</a></span>
                        <span class="u-print-only">github.com/elevorous</span>
                    </div>
                    <div class="site-version">
                        <span class="u-print-only">Site Version </span>{$ siteVersion $}
                    </div>
                </div>
            </footer>
            <div v-scope="consentBannerInstance" @vue:mounted="mounted('{$ googleAnalyticsMeasurementId $}')"></div>
        </div>
        {# Petite-vue Component includes #}
        {% include "site/petite-vue/generate-grid-form.html" %}
        {% include "site/petite-vue/metronome-form.html" %}
        {% include "site/petite-vue/autoscroll-form.html" %}
        {% include "site/petite-vue/view-options-form.html" %}
        {% include "site/petite-vue/control-panel.html" %}
        {% include "site/petite-vue/side-menu.html" %}
        {% include "site/petite-vue/render-area.html" %}
        {% include "site/petite-vue/consent-banner.html" %}
        {# Scripts #}
        <script src="scripts/site/index.js" type="module"></script>
    </body>
</html>
