<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>Drum Combo Demo</title>
        <link href="css/site/reset.css" type="text/css" rel="stylesheet">
        <link href="css/site/style.css" type="text/css" rel="stylesheet">
        <!-- <link href="stylesheets/index.css" rel="stylesheet" type="text/css"> -->
        <script type="importmap">
            {
                "imports": {
                    "site-utils": "./scripts/site/module/site-utils.js",
                    "callback-oscillator-node": "./scripts/site/module/callback-oscillator-node.js",
                    "callback-metronome": "./scripts/site/module/callback-metronome.js",
                    "combination-generator": "./scripts/site/module/combination-generator.js",
                    "petite-vue-pro": "./scripts/vendor/petite-vue-pro@0.4.6.js",
                    "component.generate-grid-form": "./scripts/site/petite-vue/component.generate-grid-form.js",
                    "component.metronome-form": "./scripts/site/petite-vue/component.metronome-form.js",
                    "component.autoscroll-form": "./scripts/site/petite-vue/component.autoscroll-form.js",
                    "component.view-options-form": "./scripts/site/petite-vue/component.view-options-form.js",
                    "component.control-panel": "./scripts/site/petite-vue/component.control-panel.js",
                    "component.side-menu": "./scripts/site/petite-vue/component.side-menu.js",
                    "component.render-area": "./scripts/site/petite-vue/component.render-area.js",
                    "component.consent-banner": "./scripts/site/petite-vue/component.consent-banner.js",
                    "page-manager": "./scripts/site/petite-vue/page-manager.js"
                }
            }
        </script>
    </head>
    <body data-auto-scroll-enabled="false" data-metronome-running="false">
        <div class="page-content">
            <header class="u-screen-only">
                <div class="header--inner o-container">
                    <div class="control-panel--wrapper" v-scope="controlPanelInstance"></div>
                    <div class="side-menu--wrapper" v-scope="sideMenuInstance"></div>
                </div>
            </header>
            <main v-scope="renderAreaInstance"></main>
            <footer>
                <div class="footer--inner o-container">
                    <div class="credits">
                        <span class="u-screen-only">By <a href="https://github.com/elevorous">elevorous</a></span>
                        <span class="u-print-only">github.com/elevorous</span>
                    </div>
                    <div class="site-version">
                        <span class="u-print-only">Site Version </span>alpha-0.2
                    </div>
                </div>
            </footer>
            <div v-scope="consentBannerInstance"></div>
        </div>
        <!-- Petite-vue Component includes -->
        <!-- @include ./petite-vue/generate-grid-form.html -->
        <!-- @include ./petite-vue/metronome-form.html -->
        <!-- @include ./petite-vue/autoscroll-form.html -->
        <!-- @include ./petite-vue/view-options-form.html -->
        <!-- @include ./petite-vue/control-panel.html -->
        <!-- @include ./petite-vue/side-menu.html -->
        <!-- @include ./petite-vue/render-area.html -->
        <!-- @include ./petite-vue/consent-banner.html -->
        <!-- Scripts -->
        <script src="scripts/site/index.js" type="module"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<!-- @echo googleAnalyticsMeasurementId -->"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<!-- @echo googleAnalyticsMeasurementId -->');
        </script>

    </body>
</html>
