<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>Drum Combo Demo</title>
        <link href="css/site/reset.css" type="text/css" rel="stylesheet">
        <link href="css/site/style.css" type="text/css" rel="stylesheet">
        <!-- <link href="stylesheets/index.css" rel="stylesheet" type="text/css"> -->
        <script type="importmap">
            {
                "imports": {
                    "site-utils": "./scripts/site/module/site-utils.js",
                    "callback-oscillator-node": "./scripts/site/module/callback-oscillator-node.js",
                    "callback-metronome": "./scripts/site/module/callback-metronome.js",
                    "combination-generator": "./scripts/site/module/combination-generator.js",
                    "petite-vue-pro": "./scripts/vendor/petite-vue-pro@0.4.6.js",
                    "component.generate-grid-form": "./scripts/site/petite-vue/component.generate-grid-form.js",
                    "component.metronome-form": "./scripts/site/petite-vue/component.metronome-form.js",
                    "component.autoscroll-form": "./scripts/site/petite-vue/component.autoscroll-form.js",
                    "component.view-options-form": "./scripts/site/petite-vue/component.view-options-form.js",
                    "component.control-panel": "./scripts/site/petite-vue/component.control-panel.js",
                    "component.side-menu": "./scripts/site/petite-vue/component.side-menu.js",
                    "component.render-area": "./scripts/site/petite-vue/component.render-area.js",
                    "component.consent-banner": "./scripts/site/petite-vue/component.consent-banner.js",
                    "page-manager": "./scripts/site/petite-vue/page-manager.js"
                }
            }
        </script>
    </head>
    <body data-auto-scroll-enabled="false" data-metronome-running="false">
        <div class="page-content">
            <header class="u-screen-only">
                <div class="header--inner o-container">
                    <div class="control-panel--wrapper" v-scope="controlPanelInstance"></div>
                    <div class="side-menu--wrapper" v-scope="sideMenuInstance"></div>
                </div>
            </header>
            <main v-scope="renderAreaInstance"></main>
            <footer>
                <div class="footer--inner o-container">
                    <div class="credits">
                        <span class="u-screen-only">By <a href="https://github.com/elevorous">elevorous</a></span>
                        <span class="u-print-only">github.com/elevorous</span>
                    </div>
                    <div class="site-version">
                        <span class="u-print-only">Site Version </span>alpha-0.2
                    </div>
                </div>
            </footer>
            <div v-scope="consentBannerInstance"></div>
        </div>
        <!-- Petite-vue Component includes -->
        <!--
        @see /scripts/site/petite-vue/component.generate-grid-form.js
        
        @author elevorous
        -->
        <template id="generate-grid-form-component-template">
            <form id="generate-grid-form" v-on:submit.prevent="generateGrid">
                <div>
                    <label for="nValue">n</label>
                    <input type="number" id="nValue" v-model="nValue" :min="minNValue" :max="maxNValue">
                </div>
                <div>
                    <button type="submit">Generate</button>
                </div>
            </form>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.metronome-form.js
        
        @author elevorous
        -->
        <template id="metronome-form-component-template">
            <form id="metronome-form" v-on:submit.prevent="toggleMetronome">
                <div>
                    <label for="bpm">BPM</label>
                    <input type="number" id="bpm" v-model="bpm" :min="MIN_BPM" :max="MAX_BPM">
                </div>
                <div>
                    <label for="beatsPerBar">Time sig.</label>
                    <input type="number" id="beatsPerBar" v-model="beatsPerBar" :min="MIN_BEATS_PER_BAR" :max="MAX_BEATS_PER_BAR">&nbsp;/&nbsp;4
                </div>
                <div>
                    <button type="submit">{{ metronome.isRunning ? "Stop" : "Start" }}</button>
                </div>
            </form>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.autoscroll-form.js
        
        @author elevorous
        -->
        <template id="autoscroll-form-component-template">
            <form id="autoscroll-form" v-on:submit.prevent>
                <div>
                    <input type="checkbox" id="enableAutoScroll" v-model="enableAutoScroll">
                    <label for="enableAutoScroll">Auto scroll</label>
                </div>
                <div>
                    <label for="repetitions">Repetitions</label>
                    <input type="number" id="repetitions" v-model="repetitions" :min="MIN_REPETITIONS" :max="MAX_REPETITIONS">
                </div>
                <div>
                    <input type="checkbox" id="enablePreamble" v-model="enablePreamble">
                    <label for="enablePreamble">Enable Preamble</label>
                </div>
                <div>
                    <label for="preambleBeats">Preamble Beats</label>
                    <input type="number" id="preambleBeats" v-model="preambleBeats" :min="MIN_PREAMBLE_BEATS" :max="MAX_PREAMBLE_BEATS">
                </div>
            </form>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.view-options-form.js
        
        @author elevorous
        -->
        <template id="view-options-form-component-template">
            <form id="view-options-form" v-on:submit.prevent>
                <div>
                    <label for="cellHeight">Cell Height</label>
                    <input type="number" id="cellHeight" v-model="cellHeight" :min="MIN_CELL_HEIGHT" :max="MAX_CELL_HEIGHT">
                </div>
                <div>
                    <label for="rowGap">Row Gap</label>
                    <input type="number" id="rowGap" v-model="rowGap" :min="MIN_ROW_GAP" :max="MAX_ROW_GAP">
                </div>
                <div>
                    <input type="checkbox" id="excludeFirstRow" v-model="excludeFirstRow">
                    <label for="excludeFirstRow">Hide first row</label>
                </div>
            </form>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.control-panel.js
        
        @author elevorous
        -->
        <template id="control-panel-component-template">
            <div class="control-panel">
                <div class="control-panel__panel" v-for="(controlForm, index) in controlPanelComponents"
                    :data-active-control-panel="index === activeControlPanelIndex || undefined"
                >
                    <div class="control-panel__panel-toggle">
                        <button type="button" @click="activeControlPanelIndex = index">{{ controlForm.name }}</button>
                    </div>
                    <div class="control-panel__panel-content">
                        <div class="control-panel__panel-content--inner" v-scope="controlForm.componentInstance"></div>
                    </div>
                </div>
            </div>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.side-menu.js
        
        @author elevorous
        -->
        <template id="side-menu-component-template">
            <div class="side-menu" :data-menu-open="isOpen">
                <div class="side-menu-toggle">
                    <button type="button" @click="toggleMenu">
                        {{ isOpen ? "Hide menu" : "Show menu" }}
                    </button>
                </div>
                <div class="side-menu__menu">
                    <div class="side-menu__menu-items">
                        <div class="side-menu__menu-item" v-for="item in menuItems" v-scope="item.componentInstance"></div>
                    </div>
                </div>
            </div>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.render-area.js
        
        @author elevorous
        -->
        <template id="render-area-component-template">
            <div class="render-area--wrapper o-container">
                <div id="renderArea">
                    <div class="combination-wrapper" v-for="(combination, index) in currentCombinations" :data-index="index"
                        :hidden="!index && hideEmptyRow"
                    >
                        <div>{{ index }}</div>
                        <div class="combination" :data-value="combination">
                            <div v-for="bit in [...combination]" :data-bit="bit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        
        <!--
        @see /scripts/site/petite-vue/component.consent-banner.js
        
        @author elevorous
        -->
        <template id="consent-banner-component-template">
            <div class="consent-banner" v-if="!isHidden">
                <div class="consent-banner--inner o-container">
                    <div class="consent-banner__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna sem, porttitor ullamcorper nulla nec, placerat porta urna. Quisque imperdiet, elit ullamcorper dictum eleifend, nulla purus auctor elit, vel tincidunt magna massa sed tortor.</p>
                    </div>
                    <div class="consent-banner__form">
                        <form id="consent-form" v-on:submit.prevent="submitConsent(event.submitter.value)">
                            <!-- Only functional should be first in the DOM as the default action if Enter it hit. -->
                            <button type="submit" name="consent-level" value="0">Only functional, thanks</button>
                            <button type="submit" name="consent-level" value="1">I'm okay with analytics</button>
                        </form>
                    </div>
                </div>
            </div>
        </template>
        
        <!-- Scripts -->
        <script src="scripts/site/index.js" type="module"></script>
    </body>
</html>
