:root {
    --cell-height: 3em;
    --row-gap: 0em;
    --current-visible-row-index: 0;
}

* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

body {
    background: powderblue;
    padding: 2em;
    margin: 0;
    height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.control-panel {
    margin-bottom: 2em;
    border: 1px solid darkgrey;
}

input {
    font-size: 1rem;
    margin: 0;
}

input[type="number"] {
    padding: 0.4em 0.8em;
}

.combination {
    width: 100%;
    display: flex;
}

.combination-wrapper, .control-panel, form {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.control-panel {
    justify-content: space-between;
}

.combination-wrapper:not(:last-child) {
    margin-bottom: var(--row-gap);
}

.combination-wrapper > div:first-child {
    min-width: 3ch;
    text-align: right;
}

[data-bit] {
    height: var(--cell-height);
    flex: auto;
    border: 1px solid red;
}

[data-bit="1"] {
    background: black;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

.render-area--wrapper, .control-panel {
    background: white;
    padding: 2em;
}

.render-area--wrapper {
    flex: 1;
    position: relative;
}

.credits {
    text-align: center;
    font-size: 0.9em;
}

#renderArea {
    transition: top 0.2s;
    top: 0;
    position: relative;
}

/* Some bug in Safari makes it so that it won't repaint the page when --row-gap changes :/
#renderArea {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
}
*/

body[data-auto-scroll-enabled="true"] .render-area--wrapper {
    overflow-y: hidden;
}

body[data-auto-scroll-enabled="true"] #renderArea {
    position: absolute;
    width: calc(100% - 4em);
    --row-gap: 3em;

    top: calc(50% - (var(--current-visible-row-index) * (var(--cell-height) + var(--row-gap))));
}

body[data-auto-scroll-enabled="true"] .combination-wrapper {
    opacity: 0.25;
}

body[data-auto-scroll-enabled="true"] [data-active] {
    opacity: 1;
}

body[data-auto-scroll-enabled="true"] [data-active] + .combination-wrapper {
    opacity: 0.5;
}

@media print {
    form {
        display: none;
    }
}
