.control-panel {
    justify-content: space-between;
    padding: var(--spacing-normal) 0;

    &__panel {
        $panel: &;

        display: flex;
        flex: 0 1 auto;
        overflow: hidden;
        align-items: stretch;
        transition: flex 0.3s;

        &[data-active-control-panel] {
            flex-grow: 1;

            #{$panel}-content {
                width: 100%;
            }
        }

        &-toggle {
            flex: 0 0 auto;
        }

        &-content {
            flex: 0 1 auto;
            overflow: hidden;
            width: 0;
            position: relative;

            &--inner {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }
}

.control-panel { // , form {
    display: flex;
    align-items: center;
    column-gap: 1em;
}
