.side-menu {
    $this: &;

    &__menu {
        position: absolute;
        z-index: var(--z-index--site-menu);
        background: lightgray;
        min-width: 30em;
        max-width: 100vw;
        right: 0;
        top: 100%;
        padding: 1em;
        height: calc(100vh - 100%);
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;
    }

    &[data-menu-open="true"] {
        #{$this}__menu {
            display: block;
        }
    }
}
