/**
* Main .scss import file
*/
:root {
  --color-white: #FFF;
  --color-black: #000;
}

:root {
  --spacing-small: 0.25rem;
  --spacing-medium-small: 0.5rem;
  --spacing-normal: 1rem;
  --spacing-medium-large: 1.5rem;
  --spacing-large: 2rem;
  --spacing-huge: 4rem;
}

:root {
  --breakpoint-tablet: 480px;
  --breakpoint-laptop: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-wide: 1200px;
  --breakpoint-4k: 1400px;
}

:root {
  --cell-height: 3rem;
  --row-gap: 0rem;
  --current-visible-row-index: 0;
}

/**
* Utilities
*/
@media not print {
  .u-print-only {
    display: none !important;
  }
}
@media print {
  .u-screen-only {
    display: none !important;
  }
}
/**
* Objects
*/
.o-container {
  max-width: calc(var(--breakpoint-4k));
  margin: 0 auto;
}

/**
* Elements
*/
body {
  background: powderblue;
  height: 100vh;
  overflow-x: hidden;
}

header, main, footer {
  padding: 0 var(--spacing-normal);
}

main {
  flex: 1;
  overflow-y: hidden;
}

.footer--inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--spacing-normal) 0;
  font-size: 0.9rem;
}

.credits {
  text-align: center;
  font-size: 0.9em;
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header--inner {
  display: flex;
  align-items: center;
}
.header--inner .control-panel--wrapper {
  flex: 1 0 auto;
}

button {
  padding: var(--spacing-small) var(--spacing-medium-small);
  display: flex;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

input[type=text],
input[type=number],
input[type=checkbox],
input[type=radio],
textarea,
select {
  --input-padding: var(--spacing-small);
  background: var(--color-white);
  padding: var(--input-padding);
}

input[type=checkbox],
input[type=radio] {
  aspect-ratio: 1;
  height: calc(1.2rem + 2 * var(--input-padding));
  position: relative;
}
input[type=checkbox]:checked::after,
input[type=radio]:checked::after {
  content: "x";
}

input[type=number] {
  width: 4ch;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -wekbit-appearance: none;
  margin: 0;
}

/**
* Components
*/
.render-area--wrapper {
  background: white;
  padding: 2em;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

#renderArea {
  transition: top 0.2s;
  top: 0;
  position: relative;
}

body[data-auto-scroll-enabled=true] .render-area--wrapper {
  overflow-y: hidden;
}

body[data-auto-scroll-enabled=true] #renderArea {
  position: absolute;
  width: calc(100% - 4em);
  --row-gap: 3em;
  top: calc(50% - var(--current-visible-row-index) * (var(--cell-height) + var(--row-gap)));
}

.combination {
  width: 100%;
  display: flex;
}

.combination-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.combination-wrapper:not(:last-child) {
  margin-bottom: var(--row-gap);
}

.combination-wrapper > div:first-child {
  min-width: 3ch;
  text-align: right;
}

[data-bit] {
  height: var(--cell-height);
  flex: auto;
  border: 1px solid red;
}

[data-bit="1"] {
  background: black;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

body[data-auto-scroll-enabled=true] .combination-wrapper {
  opacity: 0.25;
}

body[data-auto-scroll-enabled=true] [data-active] {
  opacity: 1;
}

body[data-auto-scroll-enabled=true] [data-active] + .combination-wrapper {
  opacity: 0.5;
}

.control-panel {
  justify-content: space-between;
  padding: var(--spacing-normal) 0;
}
.control-panel__panel {
  display: flex;
  flex: 0 1 auto;
  overflow: hidden;
  align-items: stretch;
  transition: flex 0.3s;
}
.control-panel__panel[data-active-control-panel] {
  flex-grow: 1;
}
.control-panel__panel[data-active-control-panel] .control-panel__panel-content {
  width: 100%;
}
.control-panel__panel-toggle {
  flex: 0 0 auto;
}
.control-panel__panel-content {
  flex: 0 1 auto;
  overflow: hidden;
  width: 0;
  position: relative;
}
.control-panel__panel-content--inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.control-panel {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

header {
  position: relative;
}

.side-menu__menu {
  position: absolute;
  z-index: 1;
  background: lightgray;
  min-width: 30em;
  max-width: 100vw;
  right: 0;
  top: 100%;
  padding: 1em;
  height: calc(100vh - 100%);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.side-menu[data-menu-open=true] .side-menu__menu {
  display: block;
}

.consent-banner {
  padding: var(--spacing-medium-large) var(--spacing-normal);
  background: darkgrey;
  color: var(--color-white);
}