{#
    @see /scripts/site/petite-vue/component.autoscroll-form.js
    @author elevorous
#}
{% import "../../macros/form.html" as form %}
<template id="autoscroll-form-component-template">
    <form id="autoscroll-form" v-on:submit.prevent>
        {$ form.checkbox(
            id="enableAutoScroll",
            label="Auto scroll",
            vModel="enableAutoScroll"
        ) $}
        {$ form.input(
            id="repetitions",
            type="number",
            label="Repetitions",
            vModel="repetitions",
            attrs={
                ":min": "MIN_REPETITIONS",
                ":max": "MAX_REPETITIONS"
            }
        ) $}
        {$ form.checkbox(
            id="enablePreamble",
            label="Enable Preamble",
            vModel="enablePreamble"
        ) $}
        {$ form.input(
            id="preambleBeats",
            type="number",
            label="Preamble Beats",
            vModel="preambleBeats",
            attrs={
                ":min": "MIN_PREAMBLE_BEATS",
                ":max": "MAX_PREAMBLE_BEATS"
            }
        ) $}
    </form>
</template>
