<!--
@see /scripts/site/petite-vue/component.consent-banner.js

@author elevorous
-->
<template id="consent-banner-component-template">
    <div class="consent-banner" v-if="!isHidden">
        <div class="consent-banner--inner o-container">
            <div class="consent-banner__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna sem, porttitor ullamcorper nulla nec, placerat porta urna. Quisque imperdiet, elit ullamcorper dictum eleifend, nulla purus auctor elit, vel tincidunt magna massa sed tortor.</p>
            </div>
            <div class="consent-banner__form">
                <form id="consent-form" v-on:submit.prevent="submitConsent(event.submitter.value)">
                    <!-- Only functional should be first in the DOM as the default action if Enter it hit. -->
                    <button type="submit" name="consent-level" value="0">Only functional, thanks</button>
                    <button type="submit" name="consent-level" value="1">I'm okay with analytics</button>
                </form>
            </div>
        </div>
    </div>
</template>
