{#
    @see /scripts/site/petite-vue/component.control-panel.js
    @author elevorous
#}
{% import "../../macros/utils.html" as utils %}
<template id="control-panel-component-template">
    <div class="control-panel">
        <div class="control-panel__panel" v-for="(controlForm, index) in controlPanelComponents"
            :data-active-control-panel="index === activeControlPanelIndex || undefined"
        >
            <div class="control-panel__panel-toggle">
                {%- call utils.button(attrs={"@click": "activeControlPanelIndex = index"}) -%}
                    {{ controlForm.name }}
                {%- endcall -%}
            </div>
            <div class="control-panel__panel-content">
                <div class="control-panel__panel-content--inner" v-scope="controlForm.componentInstance"></div>
            </div>
        </div>
    </div>
</template>
