{#
    @see /scripts/site/petite-vue/component.control-panel.js
    @author elevorous
#}
<template id="control-panel-component-template">
    <div class="control-panel">
        <div class="control-panel__panel" v-for="(controlForm, index) in controlPanelComponents"
            :data-active-control-panel="index === activeControlPanelIndex || undefined"
        >
            <div class="control-panel__panel-toggle">
                <button type="button" @click="activeControlPanelIndex = index">{{ controlForm.name }}</button>
            </div>
            <div class="control-panel__panel-content">
                <div class="control-panel__panel-content--inner" v-scope="controlForm.componentInstance"></div>
            </div>
        </div>
    </div>
</template>
