{#
    @see /scripts/site/petite-vue/component.metronome-form.js
    @author elevorous
#}
{% import "../../macros/form.html" as form %}
{% import "../../macros/utils.html" as utils %}
<template id="metronome-form-component-template">
    <form id="metronome-form" v-on:submit.prevent="toggleMetronome">
        {$ form.input(
            id="bpm",
            type="number",
            label="BPM",
            vModel="bpm",
            attrs={
                ":min": "MIN_BPM",
                ":max": "MAX_BPM"
            }
        ) $}
        {$ form.input(
            id="beatsPerBar",
            type="number",
            label="Time sig.",
            vModel="beatsPerBar",
            attrs={
                ":min": "MIN_BEATS_PER_BAR",
                ":max": "MAX_BEATS_PER_BAR"
            },
            postInput="&nbsp;/&nbsp;4"
        ) $}
        <div>
            {% call utils.button(type="submit") %}
                {{ metronome.isRunning ? "Stop" : "Start" }}
            {% endcall %}
        </div>
    </form>
</template>
