<!--
@see /scripts/site/petite-vue/component.metronome-form.js

@author elevorous
-->
<template id="metronome-form-component-template">
    <form id="metronome-form" v-on:submit.prevent="toggleMetronome">
        <div>
            <label for="bpm">BPM</label>
            <input type="number" id="bpm" v-model="bpm" :min="MIN_BPM" :max="MAX_BPM">
        </div>
        <div>
            <label for="beatsPerBar">Time sig.</label>
            <input type="number" id="beatsPerBar" v-model="beatsPerBar" :min="MIN_BEATS_PER_BAR" :max="MAX_BEATS_PER_BAR">&nbsp;/&nbsp;4
        </div>
        <div>
            <button type="submit">{{ metronome.isRunning ? "Stop" : "Start" }}</button>
        </div>
    </form>
</template>
