{#
    @see /scripts/site/petite-vue/component.side-menu.js
    @author elevorous
#}
{% import "../../macros/utils.html" as utils %}
<template id="side-menu-component-template">
    <div class="side-menu" :data-menu-open="isOpen">
        <div class="side-menu-toggle">
            {%- call utils.button(attrs={"@click": "toggleMenu"}) -%}
                {{ isOpen ? "Hide menu" : "Show menu" }}
            {%- endcall -%}
        </div>
        <div class="side-menu__menu">
            <div class="side-menu__menu-items">
                <div class="side-menu__menu-item" v-for="item in menuItems" v-scope="item.componentInstance"></div>
            </div>
        </div>
    </div>
</template>
