{#
    @see /scripts/site/petite-vue/component.view-options-form.js
    @author elevorous
#}
{% import "../../macros/form.html" as form %}
<template id="view-options-form-component-template">
    <form id="view-options-form" v-on:submit.prevent>
        {$ form.input(
            id="cellHeight",
            type="number",
            label="Cell Height",
            vModel="cellHeight",
            attrs={
                ":min": "MIN_CELL_HEIGHT",
                ":max": "MAX_CELL_HEIGHT"
            }
        ) $}
        {$ form.input(
            id="rowGap",
            type="number",
            label="Row Gap",
            vModel="rowGap",
            attrs={
                ":min": "MIN_ROW_GAP",
                ":max": "MAX_ROW_GAP"
            }
        ) $}
        {$ form.checkbox(
            id="hideEmptyRow",
            label="Hide empty row",
            vModel="hideEmptyRow"
        ) $}
    </form>
</template>
